{% extends 'base.html.twig' %}

{% block title %}Bank{% endblock %}

{% block body %}
    <h1>Bank</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bank.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ bank.nom }}</td>
            </tr>
            <tr>
                <th>InitialSum</th>
                <td>{{ bank.initialSum }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ bank.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bank_index') }}">back to list</a>

    <a href="{{ path('app_bank_edit', {'id': bank.id}) }}">edit</a>

    {{ include('bank/_delete_form.html.twig') }}
{% endblock %}
