{{ form_start(form) }}
    {{ form_row(form.NomPrenom) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
